button {
  position: absolute;
  display: block;
  color: black;
  background-color: rgba(6, 6, 6, 0.4);
  border: none;
  width: 80px;
  height: 80px;
  border-radius: 100px;
}

#buttonLeft {
  margin-top: -90px;
  margin-left: 20px;
}

#buttonRight {
  margin-top: -90px;
  margin-left: 120px;
}

#buttonUp {
  margin-top: -180px;
  margin-left: 50px;
}

#buttonAttack {
  margin-top: -180px;
  margin-left: 140px;
}

